extends base

block content
  main.main
    .login-form
      h2.heading-secondary.ma-bt-lg #{signup ? 'Sign up to Natours' : 'Log into your account'}
      form.form(class=`${signup ? 'form--signup' : 'form--login'}`)
        if signup
          .form__group
            label.form__label(for='name') Your name
            input#name.form__input(type='text', placeholder='Your name here', required)
        .form__group
          label.form__label(for='email') Email address
          input#email.form__input(type='email', placeholder='you@example.com', required)
        .form__group.ma-bt-md
          label.form__label(for='password') Password
          input#password.form__input(type='password', placeholder='••••••••', required, minlength='8')
        if signup  
          .form__group.ma-bt-md
            label.form__label(for='passwordConfirm') Confirm Password
            input#password-confirm.form__input(type='password', placeholder='••••••••', required, minlength='8')
        .form__group
          button.btn.btn--green #{signup ? 'Signup' : 'Login'}
          